<h1>Planter!</h1>
<h2>Don't let your plant run out of resources!</h2>
<p>Your plant will grow as much as the most limited resource</p>
<p>Your plant will consume more resources as it grows</p>

<% if !@plant %>
  <p>You don't seem to have any plants</p>
  <%= link_to 'Put a seed in the dirt!', plants_path, method: :post %>
<% else %>
  Highest scoring plant: <%= @high_score %>
  <p>The seed has been planted!</p>
  <table>
    <thead>
      <tr>
        <td>Height</td>
        <td>Fertilizer</td>
        <td>Sunlight</td>
        <td>Water</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @plant.height %></td>
        <td><%= @plant.fertilizer %></td>
        <td><%= @plant.sunlight %></td>
        <td><%= @plant.water %></td>
      </tr>
    </tbody>
  </table>
  <% if @plant.alive %>
    Take an action this turn!<br>
    <%= link_to 'Fertilize Plant', plant_path(@plant, play: :fertilizer), method: :patch %><br>
    <%= link_to 'Put plant in sunlight', plant_path(@plant, play: :sunlight), method: :patch %><br>
    <%= link_to 'Water Plant', plant_path(@plant, play: :water), method: :patch %><br>
  <% else %>
    Your plant has run out of resources at a height of <%= @plant.height %>!<br>
    <%= link_to 'Put a seed in the dirt!', plants_path, method: :post %>
  <% end %>
<% end %>
